.row {
    margin-top: 10px;
}

h1 {
    font-family: 'Roboto', serif;
}

h3 {
    font-family: 'Roboto', serif;
}

.btn-xs {
    width: 80px;
    background-color: #2196f3;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.5em;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', serif;
    cursor: pointer;
}

.btn-sm {
    width: 90px;
    background-color: #2196f3;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.6em;
    text-align: center;
    padding: 12px;
    font-family: 'Roboto', serif;
    cursor: pointer;
}

.btn-md {
    width: 100px;
    background-color:#2196f3;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.7em;
    text-align: center;
    padding: 13px;
    font-family: 'Roboto', serif;
    cursor: pointer;
}

.btn-lg {
    width: 110px;
    background-color: #2196f3;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.8em;
    text-align: center;
    padding: 14px;
    font-family: 'Roboto', serif;
    cursor: pointer;
}

.btn-xl {
    width: 120px;
    background-color:#2196f3;
    color: #fff;
    border-radius: 0.1rem;
    font-size: 0.9em;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', serif;
    cursor: pointer;
}